<!DOCTYPE html>
<html>
<body>

	<h2>HTML Forms</h2>

	<form action="/emp" method="post">
		Employee Name:<br> <input type="text" name="empName" value="">
		<br> Employee ID:<br> <input type="text" name="id"
			value=""> <br>
		<br> Employee Email:<br> <input type="text" name="empEmail"
			value=""> <br> Employee Location:<br> <input
			type="text" name="empLocation" value=""> <br>
		<br> <input type="submit" value="Submit">
	</form>

	<p>If you click the "Submit" button, the form-data will be sent to
		a page called "/action_page.php".</p>

</body>
</html>
