<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Axis Bank</h2>

<table>
  <tr>
    <th>Online Banking</th>
  </tr>
  <tr>
    <td>Cheque Processing</td>
  </tr>
  <tr>
    <td>Debit Card</td>
  </tr>
  <tr>
    <td>Credit Card</td>
  </tr>
  
</table>

</body>
</html>
